<div class="custom">
    <style scoped="scoped" type="text/css">
        
        @font-face {
            font-family: 'si';
            src: url('/socicon.eot');
            src: url('/socicon.eot?#iefix') format('embedded-opentype'), url('/socicon.woff') format('woff'), url('/socicon.ttf') format('truetype'), url('/socicon.svg#icomoonregular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @media screen and(-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: si;
                src: url(/socicon.svg) format(svg);
            }
        }

        .soc {
            background-color: aqua;
        }

        .soc li {
            display: inline-block;
            *display: inline;
            zoom: 1;
        }

        .soc li a {
            font-family: si !important;
            font-style: normal;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            -o-transition: .1s;
            -ms-transition: .1s;
            -moz-transition: .1s;
            -webkit-transition: .1s;
            transition: .1s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            display: block;
            position: relative;
            z-index: 1;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 33px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            margin-right: 50px;
            color: #ffffff;
            background-color: none;
        }
        
    </style>
    <div class="row" style="margin-bottom: 20px;">
        <div class="container"><!--<p style="color: #55acee; font-size: 20px; font-weight: 300; text-align: center; margin-top: 10px; margin-bottom: 15px;"><span style="background-color: #55acee; border-radius: 16px; padding: 2px 3px 3px 3px;"><img src="/images/icons/icons-twitter.png" style="height: 21px; margin-top: -3px; padding: 3px 4px 3px 4px;" alt="icons-twitter" /></span> @<b>ITSAedu</b>
		</p>-->
            <p class="subtitulocontenido" style="font-size: 25px; font-weight: 300;">Síguenos en:</p>
        </div>
        <ul class="soc">
            <li><a class="soc-twitter" href="https://twitter.com/UniBarranquilla"><img style="width: 80%;"
                        src="/images/twitter.png" alt="twitter" /></a></li>
            <li><a class="soc-facebook" href="https://www.facebook.com/UniBarranquilla/"><img style="width: 80%;"
                        src="/images/facebook.png" alt="facebook" /></a></li>
            <li><a class="soc-instagram soc-icon-last" href="https://www.instagram.com/UniBarranquilla_/"><img
                        style="width: 80%;" src="/images/instagram.png" alt="instagram" /></a></li>
            <li><a class="soc-youtube soc-icon-last"
                    href="https://www.youtube.com/channel/UC76E4EukC9lbFQ4_rUD5nLw"><img style="width: 80%;"
                        src="/images/youtube.png" alt="youtube" /></a></li>
        </ul>
    </div>
</div>
</div>

</div>

</div>
</div>

</div>
<div class="hidden-xs">

</div>
</div>
<div class="row fondologos">
    <div class="container">
        <div class="row-centered ">

            <div class="moduletable">


                <div class="custom">
                    <div>
                        <p><a href="http://www.mineducacion.gov.co/1621/w3-channel.html" target="_blank"><img alt="min2"
                                    width="128px" src="/images/min2.png" /></a>
                            <a href="http://www.atlantico.gov.co/" target="_blank"><img alt="gobernacion" width="100px"
                                    src="/images/gobernacion.png" /></a>
                            <a href="http://www.soledad-atlantico.gov.co/" target="_blank"><img alt="soledad"
                                    width="58px" src="/images/soledad.png" /></a>
                            <a href="http://www.barranquilla.gov.co/" target="_blank"><img alt="barranquilla"
                                    src="/images/barranquilla.png" /></a>
                            <a href="http://www.colombiaaprende.edu.co/html/home/1592/w3-channel.html"
                                target="_blank"><img alt="alianza" width="74px" src="/images/alianza.png" /></a>
                            <a href="https://www.icontec.org/" target="_blank"><img alt="km" width="70px"
                                    src="/images/icontec.png" /></a>
                            <a href="https://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html" target="_blank"><img
                                    alt="gobiernoenlinea" src="/images/gobiernoenlinea.png" /></a>
                            <a href="https://portal.icetex.gov.co" target="_blank"><img alt="icetex" width="100px"
                                    src="/images/icetex.png" /></a>
                            <a href="https://www.gov.co/home/" target="_blank"><img alt="no mas filas" width="100px"
                                    src="/images/no-mas-filas.png" /></a>
                            <a href="http://www.redttu.edu.co/es/" target="_blank"><img alt="REDTTU" width="70px"
                                    src="/images/redttu.png" /></a><br />
                            <a href="http://sindoitsa.org/" target="_blank"><img alt="SINTRAITSA" width="70px"
                                    src="/images/sintra.png" /></a>
                            <a href="http://sindoitsa.org/" target="_blank"><img alt="SINDOITSA" width="70px"
                                    src="/images/sindo.png" /></a>
                        </p>
                    </div>
                </div>
            </div>