{% extends "/base.html" %}

{% block content %}
<header>
  <nav class="navbar navbar-white bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
        <a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}">Cerrar sesión</a>
      </a>
    </div>
  </nav>
</header>
<div class="container">
  <div class="search-bar">
    <form name="formSearch" method="POST" action="{{ url_for('resultado') }}" class="search" autocomplete="off">
      <input type="search" name="buscar" class="search__input" placeholder="Buscador con Python - Flask & MySQL" required>
      <button type="submit" class="search__btn">
        <i class="bi bi-search search__icon"></i>
        Buscar
      </button>
    </form>
  </div>
  <div class="resultado">
    {% block body %}

    <h1 class="text-center">
      Consultas Realizados por Estudiantes
    </h1>
    
    {% endblock %}
  </div>
  
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />


<br />
<br />

<br />
<br />

<br />
<br />

<section class="pie">

  <footer class="text-center text-white" style="background-color: #000057;">

    <div class="container p-4 pb-0">

      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Puedes encontrarnos en:
            <br><a class="text-white" href="https://www.instagram.com/UniBarranquilla_/">Instagram</a><br>
            <a class="text-white" href="https://www.facebook.com/UniBarranquilla/">Facebook</a><br><a class="text-white"
              href="https://twitter.com/UniBarranquilla">Twitter</a><br><a class="text-white"
              href="https://www.youtube.com/channel/UC76E4EukC9lbFQ4_rUD5nLw">YouTube</a></span>
      </section>
    </div>


    <div class="text-center p-3" style="background-color: rgb(0, 0, 85);">

      <a class="text-white" href="https://www.unibarranquilla.edu.co/">unibarranquilla.edu.co</a>
    </div>
  </footer>
</section>

{% endblock %}