{% extends "base.html" %}

{% block content %}
<header>
  <nav class="navbar navbar-white bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
        <a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a>
      </a>
    </div>
  </nav>
</header>
<div class="container mt-4">
  <h1>Bienvenido, {{ username }}</h1>
  <p>Aquí puedes ver y administrar las solicitudes de los estudiantes.</p>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ver Solicitudes</h5>
          <p class="card-text">Ver las solicitudes hechas por los estudiantes</p>
          <center>
            <a href="{{ url_for('vistatwo' )}}" class="btn btn-primary"><i class="fas fa-clipboard-list"></i> Ver
              solicitudes</a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar</h5>
          <p class="card-text">Ver las solicitudes hechas por los estudiantes </p>
          <center>
            <a href="{{ url_for('resultado' )}}" class="btn btn-primary"><i class="fas fa-clipboard-list">Consultar</a></i>
          </center>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registrar</h5>
          <p class="card-text">Puedes registrar casos respondidos aqui.</p>
          <center>
            <a href="{{url_for('vistaone' )}}" class="btn btn-primary"><i class="fas fa-users"></i>Registrar</a>
          </center>
        </div>
      </div>
    </div>
    {% endblock %}