{% extends "base.html" %}

{% block content %}
<header>
  <nav class="navbar navbar-white bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
      </a>
    </div>
  </nav>
</header>
<div class="container mt-4">
  <h1>Bienvenido, {{ username }}</h1>
  <p>Aquí puedes realizar,consultar y seguir en tiempo real tu solicitud.</p>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ver Solicitudes</h5>
          <p class="card-text">Aqui puedes observar tus solicitudes realizadas</p>
          <center>
          <a href="{{url_for('vistatwo' )}}" class="btn btn-primary"><i class="fas fa-clipboard-list">Solicitudes</i> </a>
        </center>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registrar caso</h5>
          <p class="card-text">Aqui puedes hacer el registro de una nueva solicitud..</p>
          <center>
          <a href="{{ url_for('vistaone') }}" class="btn btn-primary"><i class="fas fa-users">Registrar Caso</i></a>
          </center>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar estado de mi solicitud</h5>
          <p class="card-text">Aqui puedes consultar en tiempo real el estado de tu solicitud...</p>
          <center>
          <a href="{{url_for('resultado')}}" class="btn btn-primary"><i class="fas fa-users">Consultar</i></a>
          </center>
        </div>
      </div>
    </div>
    {% endblock %}