{% extends "base.html" %}

{% block content %}
<header>
  <nav class="navbar navbar-white bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
      </a>
    </div>
  </nav>
</header>
<div class="container mt-4">
  <h1>Bienvenido, {{ username }}</h1>
  <p>Aquí puedes realizar,consultar y seguir en tiempo real tu solicitud.</p>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ver Solicitudes</h5>
          <p class="card-text">Aqui puedes observar tus solicitudes realizadas</p>
          <a href="vistatwo.html" class="btn btn-primary"><i class="fas fa-clipboard-list"></i> Ver solicitudes</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registrar caso</h5>
          <p class="card-text">Aqui puedes hacer el registro de una nueva solicitud..</p>
          <a href="vistaone.html" class="btn btn-primary"><i class="fas fa-users"></i>Consultar</a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar estado de mi solicitud</h5>
          <p class="card-text">Aqui puedes consultar en tiempo real el estado de tu solicitud...</p>
          <a href="vistathree.html" class="btn btn-primary">Registrar</a>
        </div>
      </div>
    </div>
    {% endblock %}