{% extends "dashboard/pages/consulta.html" %}


{%block body %}

<div class="resultado" class="text-center">
  <h4 class="text-center">Resultado de Solicitudes</h4>
  <br>

  <section>
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th>Noº</th>
          <th>Identificacion</th>
          <th>Nombre </th>
          <th>Apellido </th>
          <th>Correo </th>
          <th>Celular </th>
          <th>Caso </th>
          <th>Programa </th>
          <th>Asunto </th>
        </tr>
      </thead>
      <tbody>
        {% for solicitudes in miData %}
        <tr>
          <td>{{ solicitudes[0] }}</td>
          <td>{{ solicitudes[1] }}</td>
          <td>{{ solicitudes[2] }}</td>
          <td>{{ solicitudes[3] }}</td>
          <td>{{ solicitudes[4] }}</td>
          <td>{{ solicitudes[5] }}</td>
          <td>{{ solicitudes[6] }}</td>
          <td>{{ solicitudes[7] }}</td>
          <td>{{ solicitudes[8] }}</td>
         
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </section>

</div>

{% endblock %}