{% extends "dashboard/pages/consulta.html" %}


{%block body %}

<div class="resultado" class="text-center">
  <h4 class="text-center">Resultado de Solicitudes</h4>
  <br>
  {% if (miData) %} <!--Existe-->
  <section>
    <table class="table table-sm table-bordered table-striped">
      <thead>
      <tr>
        <th>Noª</th>
        <th>Identificacion</th>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>Correo </th>
        <th>Celular </th>
        <th>Caso </th>
        <th>Programa </th>
        <th>Asunto </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ miData.id }}</td>
          <td>{{ miData.identificacion }}</td>
          <td>{{ miData.nombre }}</td>
          <td>{{ miData.apellido }}</td>
          <td>{{ miData.correo }}</td>
          <td>{{ miData.celular }}</td>
          <td>{{ miData.caso }}</td>
          <td>{{ miData.programa }}</td>
          <td>{{ miData.asunto }}</td>
        </tr>
      </tbody>
    </table>
     
  </section>
  {% else %}
  <p>No hay resultados para la busqueda:
    <strong class="busq colorCrimson"> {{ busqueda }}</strong>
  </p>
  {% endif %}

</div>

{% endblock %}