{% extends "/base.html" %}
{% block content %}
<header>
    <nav class="navbar navbar-white bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
        </a>
        <li><a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
      </div>
    </nav>
  </header>
<div class="container">
    <div class="class p-5">
        <div class="class p-5">
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Tipo de solicitud</th>
                    <th scope="col">Programa academico</th>
                    <th scope="col">Cuatrimestre</th>
                    <th scope="col">Numero de identificación</th>
                    <th scope="col">Asunto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}