{% extends "/base.html" %}

{% block content %}
<header>
  <nav class="navbar navbar-white bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
      </a>
    </div>
  </nav>
</header>
<div class="container">
    <div class="p-5">
        <h1>Consultar</h1>
        <nav class="navbar bg-light">
            <form class="container-fluid">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">buscar</span>
                <input type="text" class="form-control" placeholder="buscar aqui" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
          </nav>
    </div>
</div>
{% endblock %}