{% extends "/base.html" %}
{% block content %}
<header>
    <nav class="navbar navbar-white bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
        </a>
        <a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a>
      </div>
    </nav>
  </header>
<div class="container">
    <div class="class p-5">
        <div class="class p-5">
            <table class="table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <td>Estudiante<td>
                    <td>Tipo de solicitud</td>
                    <td>Programa academico</td>
                    <td>Cuatrimestre</td>
                    <td>Numero de identificación</td>
                    <td>Asunto</td>
                  </tr>
                </thead>
                <tbody>
                  {% for data in soli %}
                  <tr>
                    
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                    <td>{{data.3}}</td>
                    <td>{{data.4}}</td>
                    <td>{{data.5}}</td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}