{% extends "base.html" %}
{% block content %}
<header>
    <nav class="navbar navbar-white bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="static/img/logo_IUB.png" class="w-75" alt="logoIUB">
            </a>
            <a class="dropdown-item text-dark bi-door-open" href="{{ url_for('logout') }}"> Cerrar sesión</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row py-4">
        <div class="col">
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Num. empleado</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Salario</td>
                        <td>Genero</td>
                        <td>Celular</td>
                        <td>Ciudad</td>
                        <td>Fecha nacimiento</td>
                        <td>Fecha ingreso</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>

                </thead>

                <!-- El id del cuerpo de la tabla. -->
                <tbody>
                    {% for ver in datos %}
                    <tr>
                        <td>{{ ver.0 }}</td>
                        <td>{{ ver.1 }}</td>
                        <td>{{ ver.2 }}</td>
                        <td>{{ ver.2 }}</td>
                        <td>{{ ver.3 }}</td>
                        <td>{{ ver.4 }}</td>
                        <td>{{ ver.5 }}</td>
                        <td><a href="/edit{{ver.0}}" class="btn btn-secondary btn-sm">Editar</a></td>
                                <td>
                                    <form action="{{url_for('delete')}}" method="POST">
                                        <input type="hidden" name="id" value="{{ver[0]}}">
                                        <button class="button is-danger">Eliminar</button>
                                    </form>
                                </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <left>
            <div class="row">
                <div class="col-6">
                    <label id="lbl-total"></label>
                </div>
        </left>
        <div class="col-6" id="nav-paginacion"></div>
        <center>
            <div class="col-6" id="nav-paginacion"></div>

            <input type="hidden" id="pagina" value="1">
            <input type="hidden" id="orderCol" value="0">
            <input type="hidden" id="orderType" value="asc">
    </div>
</div>

{% endblock %}