{% extends 'base.html' %}

{% block content %}
<div class="login-form">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="text-center">
              <img src="../static/img/logo_IUB.png" class="card-img-top w-50" alt="logoIUB">
            </div>
          </div>
          <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="login_lider" method="POST">
             <center> <strong><label>Login Lidel</label></center>
             </strong>
              <br>
              <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <br />

              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              
                <br/>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Acceder</button>
              </div>

            </form>
            
            <form action="{{url_for('estudiante')}}" methods="POST">
              <button class="btn btn-link">Estudiante</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}